* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo {
    width: 183px;
    height: 183px;
    left: calc(50% - 183px/2 - 449.5px);
    top: 0px;
}

nav {
    justify-content: space-between;
}

.text-box {
    justify-content: left;
    width: 100%;
    height: 289px;
    background: linear-gradient(192.04deg, #9DC5D1 0.66%, #6180CD 119.66%);
}

nav,
.text-box {
    display: flex;
    padding: 2% 6%;
    align-items: center;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.form-select {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .375rem;
}


.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13;
    font-weight: bold;
}

nav .fa {
    display: none;
    color:#6180CD;
}

.button1,
.mb button {
    border: 0;
    border-radius: 15px;
    padding: 15px 18px;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
}

.button1 {
    background: linear-gradient(90deg, #617FCD 42.42%, #BE6EBF 100%);
    color: #FFFFFF;
}

.mb button {
    background: rgba(217, 217, 217, 0.59);
    color: #000;
}

@media(max-width:700px) {
    .text-box h1 {
        font-size: 50px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: black;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 20px;
    }
}

.thanhbuoi-content {
    padding-left: 25px;

}

.thanhbuoi-content h1 {
    color: #fff;
    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
}

.thanhbuoi-img {
    margin-left: 100px;
}

.transportation-comp-content,
.rout-list {
    text-align: left;
    padding: 64px;
    margin: 0px 62.8px;
}
.bus-type{
    text-align: left;
    margin: 0px 62.8px;
}
.transportation-comp-content h1,
.bus-type h1,
.rout-list h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    color: #6180CD;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.transportation-comp-content .content {
    padding-top: 32px;
}

.transportation-comp-content .conti-content {
    padding-bottom: 32px;
}

.line-img {
    margin-bottom: 15px;
    text-align: center;
}

.transportation-comp-content .content,
.transportation-comp-content .conti-content {
    margin: 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    mix-blend-mode: normal;
    text-align: justify;
}

.bus-type .type-header {
    margin-bottom: 20px;
}

.type {
    padding-top: 32px;
    text-align: center;
    margin: 0px;
}

.rout-list {
    text-align: center;
}

.rout-list h1 {
    margin-bottom: 32px;
}

.footer {
    text-align: left;
    padding: 64px;
    background: #000000;
}

.container {
    text-align: left;
}

.footer-box-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-box-content-detail {
    display: block;
    margin: 0 0 10px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 42px;
    color: #8A8888;
    list-style-type: none;
}

.fb-icon,
.twitter-icon {
    padding: 30px 15px;
}

.footer-box-content h4 {
    display: block;
    margin: 0 0 10px 0;
    list-style-type: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer-box-copyright-inner {
    color: #ffff;
    border-top: 1px solid rgba(168, 164, 164, 0.69);
    text-align: center;
    background: #000000;
    padding: 20px;
    margin: 0px -12px;
}
.bus-content h4{
    padding: 25px;
}