
.container {
    justify-content: left;
    background: linear-gradient(192.04deg, #9DC5D1 0.66%, #6180CD 119.66%);
}
.container {
    display: flex;
    padding: 2% 6%;
    align-items: center;
}
.thanhbuoi-content {
    padding-left: 25px;

}

.thanhbuoi-content h1 {
    color: #fff;
    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
}

.thanhbuoi-img {
    margin-left: 100px;
}

.transportation-comp-content,
.rout-list {
    text-align: left;
    padding: 64px;
    margin: 0px 62.8px;
}
.bus-type{
    text-align: left;
    margin: 0px 62.8px;
}
.transportation-comp-content h1,
.bus-type h1,
.rout-list h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    color: #6180CD;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.transportation-comp-content .content {
    padding-top: 32px;
}

.transportation-comp-content .conti-content {
    padding-bottom: 32px;
}

.line-img {
    margin-bottom: 15px;
    text-align: center;
}

.transportation-comp-content .content,
.transportation-comp-content .conti-content {
    margin: 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    mix-blend-mode: normal;
    text-align: justify;
}

.bus-type .type-header {
    margin-bottom: 20px;
}

.type {
    padding-top: 32px;
    text-align: center;
    margin: 0px;
}

.rout-list {
    text-align: center;
}

.rout-list h1 {
    margin-bottom: 32px;
}
.bus-content h4{
    padding: 25px;
}