body{
    height: 100vh;
    background: #fff !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card{
    overflow: hidden;
    border: 1px solid #6180CD !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  .card-body{
    padding: 2rem;
  }
  
  .title{
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
  }

  .body-header{
    display: flex;
  }
  .form-box button[type="submit"]{
    margin-top: 10px;
    cursor: pointer;
    background: #fff;
    color: #fff;
    border: 1px solid #9DC5D1;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding: 12px;
  }

  .mb-3{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 48px;
  }

  .text-left {
    font-weight: bold;
  }

  @media screen and (max-width: 423px) {
    .mb-3{
     margin-top: 16px;
    }
 }
  .form-box button[type="submit"]:hover{
    background: linear-gradient(90deg, #617FCD 42.42%, #BE6EBF 100%);
    color: #fff;
  }