
.main-nav {
    background-color: #9DC5D2;
}

.sticky-route-selection {
    position: fixed;
    width: 100%;
    height: 200px;
    padding-top: 120px;
    background: rgb(241, 241, 241);
    z-index: 3;
    flex-wrap: wrap;
    display: flex;
}

.sticky-route-selection form {
    display: flex;
}

.sticky-input-route {
    display: flex;
}

.sticky-route-search {
    padding-top: 20px;
    padding-left: 100px;
}

.sticky-route-search-btn {
    width: 200px;
    font-weight: bold;
    background: linear-gradient(90deg, #617FCD 42.42%, #BE6EBF 100%);
    border-radius: 60px;
    border-color: #9DC5D1;
}

.seat-booking {
    width: 100%;
    min-height: 150vh;
}

.pl-select {
    display: flex;
}

@media(max-width:700px) {
    .sticky-route-selection {
        padding-top: 120px;
        height: 250px;
    }

    .sticky-input-route {
        width: 100%;
    }

    .sticky-route-search {
        padding-top: 5px;
        padding-left: 280px;
    }

    .sticky-route-search-btn {
        width: 100px;
    }
}

.seat-booking-ct {
    padding-top: 250px;
    min-height: 2000px;
    display: flex;
}

.seat-booking-filter {
    position: relative;
    height: 100%;
    /* background: red; */
}

.seat-booking-form {
    width: 80%;
    position: relative;
    height: 100%;
    margin-left: 15px;
}

.accordion-button {
    position: relative;
}

.accordion-button .collapsed {
    position: relative;
}

.accordion-header {
    padding: 10px 0px;
}

.accordion-header a {
    padding-left: 16px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.accordion-body ul li {
    list-style: none;
}

.accordion-body ul {
    padding-left: 5px;
}

.price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}

.price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.select-type{
  font-size: 24px;
  padding: 8px;
  margin-top: 16px;
}

.cheked-typed{
  display: none;

}

.input-check {
  position: relative;
  cursor: pointer;
  padding-right: 32px;
}

.input-check:nth-last-child(1) {
  padding-right: 0;
}

.input-check::before {
  content: "";
  border: 2px solid #ccc;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -4px 0px;
  margin-left: 0;
  border-radius: 50%;
  margin-right: 5px;
}

.input-check::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 12px;
  background: rgba(34, 34, 34, 0);
  left: 4px;
  top: 13px;
  margin: -8px 20px;
  margin-left: 0;
  border-radius: 50%;
  transition: all 0.4s;
}

.cheked-typed:checked + .input-check::after {
  background:#9DC5D2;
}
.price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #17A2B8;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.search-filter {
    padding: 20px 5px;
    text-align: center;
}

.search-filter-btn {
    width: 200px;
    font-weight: bold;
    background: linear-gradient(90deg, #617FCD 42.42%, #BE6EBF 100%);
    border-radius: 60px;
    border-color: #9DC5D1;
}

.seat-booking-form-dt {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border: #999 solid 1px;
    border-radius: 20px;
    margin-bottom: 25px;
}

.seat-booking-form-dt-header {
    display: flex;
}

.seat-booking-form-dt-tt h2 {
    font-weight: bold;
}

.seat-booking-form-dt-pc {
    text-align: right;
    padding-right: 30px;
}

.seat-booking-form-dt-tt {
    padding-left: 30px;
}

.seat-booking-form-dt-pc h3 {
    font-weight: bold;
}

.type-amt {
    display: flex;
    width: 230px;
    font-size: 15px;
    font-weight: 500;
}

.type {
    border-right: #999 solid 1px;
}

.amt {
    padding-left: 30px;
    color: #EA4335;
}

.seat-booking-form-dt-ct-t-pt {
    padding-left: 30px;
    border-right: rgb(219, 219, 219) solid 1px;
}

.seat-point-select {
    width: 200px;
}

.seat-booking-form-dt-ct-t-pt p {
    font-size: 20px;
    font-weight: 700;
}

.seat-point span {
    font-size: 17px;
    font-weight: 600;
}

.seat-point-select {
    margin-top: 7px;
    margin-bottom: 20px;
}

.seat-booking-form-dt-ct {
    display: flex;
}

.seat-row {
    display: flex;
    height: 25px;
}

.seat-ctn {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.seat-ctn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 25px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #444451;
}

.disable-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 25px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #D9D9D9;
}


/* On mouse-over, add a grey background color */
.seat-ctn:hover input~.checkmark {
    cursor: pointer;
    transform: scale(1.2);
}

.seat-ctn:hover input~.disable-checkmark {
    cursor: default;
    transform: scale(1);
}

/* When the checkbox is checked, add a blue background */
.seat-ctn input:checked~.checkmark {
    background-color: #6feaf6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.seat-ctn:after {
    content: "";
    position: absolute;
    display: none;
}

/* Style the checkmark/indicator */
.seat-ctn .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.seat-pos-map-room .seat-row {
  display: flex;
  height: 25px;
}

.seat-pos-map-room .seat-ctn {
  display: block;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.seat-pos-map-room .seat-ctn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.seat-pos-map-room .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 40px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #444451;
}

.seat-pos-map-room .disable-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 40px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #D9D9D9;
}

/* On mouse-over, add a grey background color */
.seat-pos-map-room .seat-ctn:hover input~.checkmark {
  cursor: pointer;
  transform: scale(1.2);
}

.seat-pos-map-room .seat-ctn:hover input~.disable-checkmark {
  cursor: default;
  transform: scale(1);
}

/* When the checkbox is checked, add a blue background */
.seat-pos-map-room .seat-ctn input:checked~.checkmark {
  background-color: #6feaf6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.seat-pos-map-room .seat-ctn:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.seat-pos-map-room .seat-ctn .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.seat-pos-map-room .seat-row:nth-child(1) {
  margin-bottom: 40px;
}

.seat-map {
    display: flex;
    padding-left: 30px;
}

.seat-pos-map {
    border-radius: 20px;
    margin-right: 130px;
    padding: 10px;
}

.seat-pos-map-room {
  border-radius: 20px;
  margin-right: 130px;
  padding: 10px;
}

.seat-pick-tt {
    font-size: 20px;
    font-weight: 700;
    padding-left: 30px;
}

.seat-pos p {
    font-weight: 500;
}

.seat-rule {
    padding-left: 30px;
}

.seat-rule-ins {
    list-style-type: none;
    display: flex;
}

.seat-rule-ins li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 60px;
}

.seat {
    height: 22px;
    width: 25px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #444451;
}

.selected {
    height: 22px;
    width: 25px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #D9D9D9;
}

.occupied {
    height: 22px;
    width: 25px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #6feaf6;
}

.seat-pick-btn {
    margin-top: 20px;
    padding-right: 30px;
}

.seat-pick-btn-b {
    width: 200px;
    height: 49px;
    float: right;
    border: #617FCD solid 2px;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #617FCD;
    background-color: #fff;
}
.seat-pick-btn-b:hover {
    background-color: #617FCD;
    color: #fff;
    border: #617FCD solid 2px;
    border-radius: 10px;
    transition: 0.4s;
}