* {
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    width: 100%;
    background: #9DC5D2;
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: 9999;
    flex-wrap: wrap;
}

.banner {
    min-height: 100vh;
    width: 100%;
    background: #9DC5D2;
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo {
    width: 120px;
    height: 120px;
    left: calc(50% - 183px/2 - 449.5px);
    top: 0px;
}

.main-nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.form-select {
    max-width: 83;
    max-height: 24;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.button1 {
    border: 0;
    background: linear-gradient(90deg, #617FCD 42.42%, #BE6EBF 100%);
    border-radius: 15px;
    padding: 15px 18px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    cursor: pointer;
    width: 200px;
}

.nav-links ul li .dropdown {
    position: relative;
    display: inline-block;
}

.nav-links ul li .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0.5px;
    text-align: center;
}

.nav-links ul li .dropdown .dropdown-content .choose {
    background-color: #617FCD;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
}

.nav-links ul li .dropdown .dropdown-content a:hover {
    background-color: #5695aa;
}

.nav-links ul li .dropdown:hover .dropdown-content {
    display: block;
}

.mb::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #6180CD;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.mb:hover::after {
    width: 100%;
}

.mb-text {
    font-size: 14px;
}

.text-box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.text-box h1 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(115.41deg, #617FCD -8.36%, #000000 112.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.book-btn {
    display: inline-block;
    text-decoration: none;
    color: #394a75;
    border: 1px solid #394a75;
    padding: 12px 34px;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.book-btn:hover {
    border: 1px solid linear-gradient(90deg, #617FCD 42.42%, #BE6EBF 100%);
    background: linear-gradient(90deg, #617FCD 42.42%, #BE6EBF 100%);
    transition: 0.5s;
    color: #fff;
}

nav .fa {
    display: none;
    color: #fff;
}


@media(max-width:700px) {
    .header {
        height: 100px;
    }
    nav {
        height: 115px;
    }
    .logo {
        width: 97px;
        height: 97px;
    }
    .text-box h1 {
        font-size: 70px;
    }
    .text-box p {
        font-size: 13px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: black;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 20px;
    }
}

.bus-booking {
    min-height: 130vh;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 200px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #fff;
    background-image: url('images/46f92a10193445.560e0e5589fda.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
}

.bus-booking h1 {
    font-size: 45px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    color: #475f9b;
}

.container-fluid {
    /* background: #a39f9f; */
    width: 80%;
    height: 500px;
    display: relative;
}


.input-route {
    display: flex;
}

.element {
    text-align: start;
}

.element span {
    color: #505050;
    font-weight: 500;
}

.route-selection {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px;
    border-radius: 10px;
    background: linear-gradient(105.22deg, #9DC5D1 14.71%, #FFFFFF 195.49%);
}

.route-search-btn {
    width: 200px;
    font-weight: bold;
    background: linear-gradient(90deg, #617FCD 42.42%, #BE6EBF 100%);
    border-radius: 60px;
    border-color: #9DC5D1;
}

.search-btn {
    margin-top: 10px;
}

.bus-img img {
    width: 310px;
    height: 150px;
}

@media(max-width:700px) {
    .input-route {
        display: inline-block;
    }
    .bus-booking h1 {
        font-size: 35px;
    }
    .bus-img img {
        width: 300px;
        height: 145.16px;
    }
}

.popular-routes {
    padding-top: 50px;
    background-color: #fff;
    width: 100%;
    text-align: center;
    min-height: 100vh;
}

.content-pr {
    background: linear-gradient(105.22deg, #9DC5D1 14.71%, #FFFFFF 195.49%);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.48);
    border-radius: 20px;
    width: 80%;
    height: 120px;
    display: relative;
}

.content-pr-tt {
    display: flex;
    padding-left: 30px;
    margin-bottom: 30px;
}

.content-pr-tt h1 {
    margin-top: 35px;
    padding-right: 8px;
    font-size: 45px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    color: #475f9b;
}

.content-pr-bd {
    display: flex;
    margin: auto;
}

.content-pr-bd .col-lg-6 {
    display: flex;
}

.content-pr-bd .card {
    margin-top: 40px;
}

.content-pr-bd .card .card-left {
    margin-right: 10px;
}

.content-pr-bd .card .card-right {
    margin-left: 10px;
}

.card-text {
    font-weight: 500;
    text-align: left;
}

.content-pr-bd .card .card-body .card-title {
    font-weight: 700;
}

.content-pr-bd .card .card-body a {
    text-decoration: none;
}

.content-pr-bd .card .card-body a h4 {
    color: #000000;
    font-size: 18px;
}

.content-pr-bd .card .image{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .5s;
    background-color: #555;
    border-radius: 5px;
}

.content-pr-bd .card .image:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-140%, -50%);
    background-color: rgba(157, 197, 209, 0.8);
    border-radius: 50%;
    transition: .8s;
}

.content-pr-bd .card .image:hover:after{
    transform: translate(-50%, -50%);
}

.content-pr-bd .card .image i{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-2000px, -50%);
    color: #fff;
    transition: .8s;
    transition-timing-function: ease-in;
}

.content-pr-bd .card .image:hover i{
    transform: translate(-50%, -50%);
    transition-timing-function: ease;
}

@media(max-width:700px) {
    .popular-routes {
        width: 100%;
        height: 133vh;
    }
    .content-pr-tt h1 {
        font-size: 35px;
    }
    .content-pr-bd .card {
        display: block;
    }
    .content-pr-bd .card .card-body a h4 {
        font-size: 15px;
    }
    .content-pr-tt h1 {
        margin-top: 36px;
    }
}

.trans-comp {
    background: linear-gradient(180deg, #FFFFFF 19.28%, #9DC5D1 115.87%);
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.content-tc {
    background: linear-gradient(264.49deg, #4191CC -1.96%, #FFFFFF 138.3%);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.48);
    border-radius: 20px;
    width: 80%;
    height: 120px;
}

.content-tc-tt {
    width: 100%;
    display: flex;
}

.content-tc-tt h1 {
    text-align: right;
    width: 100%;
    margin-top: 35px;
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 63, 82);
}

.list-group a {
    font-size: 15px;
    font-weight: 500;
}

@media(max-width:700px) {
    .content-tc-tt h1 {
        font-size: 35px;
    }
}

.impression {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #9DC5D1 -26.79%, #FFFFFF 118.94%);
}

.imp-tt {
    text-align: center;
    position: relative;
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    color: #475f9b;
}

.why1 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    /* width: auto; */
    margin-right: 20px;
}

.description {
    /* width: 100%; */
    margin-left: 200px;
}

.price .img {
    float: right;

}

.why2 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.az {
    float: right;
}

.package {
    margin-left: 180px;
}

.az h2 {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.az p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.description h2 {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.description p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media(max-width:700px) {
    .imp-tt {
        font-size: 50px;
    }
    .description {
        /* width: 100%; */
        margin-left: 0px;
    }
    .price .img {
        width: 300px;
        height: 300px;
    }
    .imp-tt {
        font-size: 30px;
    }
    .description h2 {
        font-family: 'Bebas Neue', cursive;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 25px;
    }
    .package {
        margin-left: 0px;
    }
    .package .img {
        width: 300px;
        height: 300px;
    }
    .az h2 {
        font-family: 'Bebas Neue', cursive;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 25px;
    }
}

body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: black;
    border-top: 1px solid #e5e5e5;
}

.footer > * {
    flex:  1 100%;
}

.footer__logo {
    width: 150px;
    height: 150px;
}

.nav__title {
    font-weight: bold;
    font-size: 15px;
    color: #fff;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #999;
    font-size: 13px;
}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.legal p {
    margin: auto;
    align-items: center;
    font-weight: bold;
}

.legal__links {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

@media screen and (max-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav > * {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}


