.main-nav {
  animation: changeBackgroundColor 5s ease-in-out infinite;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #c3e1eb;
  }

  50% {
    background-color: #d1d8ee;
  }

  75% {
    background-color: #c3e4df;
  }

  100% {
    background-color: #c3e1eb;
  }

}

.header-comp {
  display: flex;
  padding: 2% 6%;
  align-items: center;
  height: 300px;
}

.tc-info-des {
  display: flex;
}

.tc-logo-img {
  padding-right: 15px;
}

.tc-logo-img img {
  width: 155px;
  height: 107px;
}

.tc-header {
  padding-left: 15px;
}

.transportation-comp-content {
  padding: 30px;
  border-radius: 20px;
  /* border: #000000 solid 1px; */
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 25%);
}

.transportation-comp-content h1 {
  color: #475f9b;
  font-weight: 700;
  font-size: 64px;
  line-height: 81px;
}

.transportation-comp-content,
.rout-list {
  text-align: left;
  /* padding: 64px; */
  margin: 0px 20px 0px 20px;
}

.bus-type-comp {
  text-align: left;
  /* margin: 0px 62.8px; */
}

.transportation-comp-content h1,
.bus-type-comp h1,
.rout-list h1,
.tc-header h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-transform: capitalize;
  color: #6180CD;
  margin-top: 10px;
  margin-bottom: 0px;
}

.transportation-comp-content .content {
  padding-top: 32px;
}

.line-img {
  margin-bottom: 15px;
}

.transportation-comp-content .content,
.transportation-comp-content .conti-content {
  margin: 0px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  /* text-align: justify; */
}

.bus-type-comp .type-header {
  margin-bottom: 20px;
}

.type-bus {
  padding-top: 32px;
}

.rout-list h1 {
  margin-bottom: 32px;
}

.bus-content h4 {
  padding: 25px;
}

.read-more-btn {
  color: #0984e3;
}

.read-more-text {
  display: none;
}

.read-more-text--show {
  display: inline;
}

.tc-info-des-sec {
  min-height: 100vh;
  /* background: url('images/Here\ we\ go\ \(1\).jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%; */
}

.img-slider {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 10px;
  background: #1D212B;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 800px;
  height: 497.500px;
  border-radius: 5px;
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  background-color: #0000005b;
}

.img-slider .slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 5px;
  margin: 10px;
  /* border-radius: 50%; */
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #c3e4df;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px) {
  .img-slider {
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;
  }

  .img-slider .slide .info h2 {
    font-size: 35px;
  }

  .img-slider .slide .info p {
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider {
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
  }

  .img-slider .slide .info p {
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info {
    padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
    font-size: 25px;
  }

  .img-slider .slide .info p {
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
}



.review {
  min-height: 100vh;
  margin-top: 50px;
}

.contribute {
  margin-bottom: 100px;
}

.contribute h2 {
  margin-bottom: 30px;
  font-weight: 500;
  color: #6180CD;
}

.contribute .btn {
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  border: #6180CD solid 2px;
  color: #6180CD;
  font-weight: 500;
  font-size: 17px;
}

.contribute .btn:hover {
  background-color: #6180CD;
  color: #fff;
}

.review-cm h2 {
  margin-bottom: 30px;
  font-weight: 500;
  color: #6180CD;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-info p {
  margin: 10px;
  font-weight: 500;
}

.seat-row {
  display: flex;
  height: 25px;
}

.seat-ctn {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.seat-ctn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 25px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #444451;
}

.disable-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 25px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #D9D9D9;
}


/* On mouse-over, add a grey background color */
.seat-ctn:hover input~.checkmark {
  cursor: pointer;
  transform: scale(1.2);
}

.seat-ctn:hover input~.disable-checkmark {
  cursor: default;
  transform: scale(1);
}

/* When the checkbox is checked, add a blue background */
.seat-ctn input:checked~.checkmark {
  background-color: #6180CD;
}

/* Create the checkmark/indicator (hidden when not checked) */
.seat-ctn:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.seat-ctn .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.seat-row {
  display: flex;
  height: 25px;
}

.seat-ctn {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.seat-ctn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  margin: 3px;
  border-radius: 50%;
  background-color: #444451;
}

.disable-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  margin: 3px;
  border-radius: 50%;
  background-color: #6180CD;
}

/* On mouse-over, add a grey background color */
.seat-ctn:hover input~.checkmark {
  cursor: pointer;
  transform: scale(1.2);
}

.seat-ctn:hover input~.disable-checkmark {
  cursor: default;
  transform: scale(1);
}

/* When the checkbox is checked, add a blue background */
.seat-ctn input:checked~.checkmark {
  background-color: #6180CD;
}

/* Create the checkmark/indicator (hidden when not checked) */
.seat-ctn:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.seat-ctn .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rate-cm {
  margin-left: 5px;
  margin-top: 5px;
  font-weight: 500;
}

.date-cm {
  margin-left: 5px;
  margin-top: 10px;
}

.re-cm {
  margin-left: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.rate-ov {
  display: flex;
  align-items: center;
}

.rate-ov p {
  margin: 5px 10px 5px 5px;
  font-size: 30px;
  font-weight: bold;
}

.rate-ov span {
  margin-left: 10px;
  font-weight: 400;
  font-size: 17px;
}

.pay-modal {
  border-radius: 20px;
  background: #c3e1eb;
}

.cm-txt {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 13px;
}

.rating {
  display: flex;
}

.rating input {
  position: absolute;
  left: -100vw;
}

.rating label {
  width: 48px;
  height: 48px;
  padding: 48px 0 0;
  overflow: hidden;
  background: url('stars.svg') no-repeat top left;
}

.rating:not(:hover) input:indeterminate+label,
.rating:not(:hover) input:checked~input+label,
.rating input:hover~input+label {
  background-position: -48px 0;
}

.rating:not(:hover) input:focus-visible+label {
  background-position: -96px 0;
}

.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.select-box .options-container {
  background: #444451;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
  background: #444451;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  background: url("images/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active+.selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #444451;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #444451;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #444451;
}

.select-box label {
  cursor: pointer;
  font-size: 15px;
}

.select-box .option .radio {
  display: none;
}

.pay-cf {
  width: 100%;
  text-align: center;
}

.pay-cf-btn {
  border-radius: 20px;
  width: 100px;
  color: #6180CD;
  font-weight: bold;
  border: 2px solid #6180CD;
  background: #e7f0f3;
}

.pay-cf-btn:hover {
  background: #6180CD;
  color: #fff;
}