body {
    height: 100vh;
    background: #fff !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    overflow: hidden;
    border: 1px solid #6180CD !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
  
  }
  
  .body-header {
    display: flex;
    padding-left: 22px;
  }
  
  .form-box button[type="button"] {
    margin-top: 10px;
    cursor: pointer;
    background: #EA4335;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  
  .detail {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #7B7B7B;
    border-radius: 15px;
  }
  
  .address {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #D80027;
  }
  
  .bus {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #000000;
    margin: 0;
  }
  
  .type {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8A8888;
    margin-bottom: 10px;
  }
  
  .button {
    margin-top: 30px;
  }
  
  .form-box button[type="button"]:hover {
    background: #D80027;
    color: #fff;
  }
  
  @media screen and (max-width: 500px) {
    .button {
      margin-top: 83px;
    }
  }
  
  @media screen and (min-width: 500px) and (max-width: 768px) {
    .button {
      margin-top: 58px;
    }
  }
  
  .text-left {
    font-weight: bold;
  }

  .modal-content, .cancel-modal {
    background: #BBCDD2;
  }

  .modal-header {
    width: 100%;
  }

  .cancel-msg {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .cancel-rs {
    font-size: 16px;
    font-weight: 500;
  }
  
  .cancel-cf {
    width: 100%;
    text-align: center;
  }

  .cancel-cf-btn-e {
    padding: 3px 25px;
    border-radius: 20px;
    border: 2px #4191CC solid;
    background-color: #fff;
    font-weight: 700;
    color: #4191CC;
  }

  .cancel-cf-btn-e:hover {
    background-color: #4191CC;
    color: #fff;
    transition: 0.5s;
  }